.report-nav {
	margin-top: 15px;

	a {
		margin-right: 20px;

		.text {
			position: relative;
			top: -2px;
			margin-left: 5px;
		}
	}
}

@media print {
	.container {
		margin: 0;
	}

	.report-nav {
		display: none;
	}
}
