@require '../../stylus/_variables.styl';

$animation-speed = 0.2s;

#inventory-notification {
	margin: 15px 0;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	transition: opacity $animation-speed ease-in-out;
	opacity: 1;
	color: $color-1;

	.text {
		margin-left: 15px;
	}

	&.success {
		background-color: $color-6;
	}
	&.error {
		background-color: $color-8;
	}
	&.default {
		opacity: 0;
	}
}
