@require '../../stylus/_mixins.styl';
@require '../../stylus/_variables.styl';
@require '../../stylus/_matrix.styl';

$border = 1px solid $color-4;

.report-summary-page {
	clearfix();
	margin-bottom: 25px;

	.page-header {
		border-bottom: 1px solid $color-4;

		h3 {
			display: inline;
		}

		.page-count {
			position: absolute;
			top: 9px;
			right: 0;

			.text {
				margin-left: 5px;
			}
		}
	}

	.matrix {
		float: left;
		padding: 0;
		border: $border;
		width: 46%;
		margin: 0 2%;

		.matrix-row {
			border-bottom: $border;
			height: 26px;

			.cell {
				line-height: 26px;
				border-right: $border;
				&:first-child { width: 35%; }
				&:nth-child(2) { width: 65%; }
			}

			&:first-child {
				background-color: $color-2;
			}

			&:last-child {
				border: none;
			}
		}
	}

	.page-footer {
		clear: both;
		position: relative;
		margin-top: 20px;

		.signature {
			margin-top: 30px;
			border-top: 2px $color-4 dotted;
			text-align: center;

			span {
				color: $color-4;
				font-style: italic;
			}
		}

		table {
			margin: 0 0 0 auto;

			tr {
				:first-child {
					text-align: right;
					padding-right: 10px;
					font-weight: 700;
				}

				:last-child {
					min-width: 390px;
				}
			}
		}
	}
}

@media print {
	.report-summary-page {
		width: 1140px;
		page-break-after: always;

		.page-header {
			margin-top: 10px;
			border-color: $color-11;
		}

		.matrix {
			width: 385px;
			border-color: $color-11;

			.matrix-row {
				border-color: $color-11;

				&:first-child {
					background-color: $color-2 !important;
					-webkit-print-color-adjust: exact;
				}

				.cell {
					border-color: $color-11;
				}
			}
		}

		.signature {
			float: left;
			width: 300px;
			border-color: $color-11;
		}
	}
}
