@require '../../stylus/_variables.styl';

#inventory-header {
	.head-belt {
		position: relative;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid $color-4;

		h3 {
			display: inline;
		}

		.print-trigger {
			position: absolute;
			top: 9px;
			right: 15px;

			.text {
				margin-left: 5px;
			}
		}
	}
}
