@require '../../stylus/_variables.styl';

.inventory-settings {
	li {
		margin-bottom: 15px;
	}

	.stamp {
		height: 100px;
		border: 1px solid $color-4;
		text-align: center;
		vertical-align: bottom;
		line-height: 180px;
		font-size: 10px;
		font-style: italic;
	}
}

@media print {
	.inventory-settings {
		float: left;
		width: 285px;

		.stamp {
			border-color: $color-11;
		}
	}
}
