@require '../../stylus/_mixins.styl';
@require '../../stylus/_variables.styl';

$cell-text--padding-right = 20px;

.product {
	border-bottom: 2px solid $color-1;

	.cell {
		&:nth-child(3), &:nth-child(4), &:nth-child(5) { padding-left: 3% }
	}

	&:nth-child(3n + 1) {
		background-color: $color-2;
	}

	&:nth-child(3n + 2) {
		background-color: $color-3;
	}

	&:nth-child(3n + 3) {
		background-color: $color-4;
	}

	&:hover {
		background-color: $color-5;

		.cell-to-edit {
			cursor: pointer;
		}

		.product-remover {
			display: block;
		}

		.icon-pencil {
			display: inline;
		}
	}

	.name {
		.cell-to-edit {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.product-remover {
		display: none;
		padding-right: 2.5%;
		text-align: right;

		button[type=button] {
			border: 1px solid $color-1;
			background-color: $color-8;
			color: $color-1;
		}
	}

	.editing-cell {
		width: 100%;
		height: 32px;
		padding-left: 10px;
		border: none;
		border-radius(5px);
	}

	.icon-pencil {
		display: none;
		padding-left: 5px;
		width: $cell-text--padding-right;
		color: $color-9;
		cursor: pointer;
	}
}
