@require '../../stylus/_variables.styl';

#app-header {
	padding: 10px 0;
	background-color: $color-1;
	border-bottom: 1px solid $color-4;

	h2 {
		float: left;
		font-weight: 700;
	}

	.app-menu {
		float: right;
		margin: 25px 0 10px 0;
		line-height: 1.1;

		li {
			cursor: pointer;
		}

		i {
			margin-right: 15px;
			font-size: 24px;
		}

		span {
			position: relative;
			top: -3px;
			font-size: 18px;
		}
	}
}

@media print {
	#app-header {
		display: none;
	}
}
