@require '../../stylus/_variables.styl';

#inventory-settings {
	float: left;
	width: 100%;
	margin-right: 20px;
	padding-right: 20px;
	cursor: pointer;

	li {
		position: relative;
	}

	.text {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.icon-pencil {
		position: absolute;
		right: -20px;
		color: $color-9;
		cursor: pointer;
	}

	button[type=button] {
		border: 1px solid $color-6;
		background-color: $color-1;
		color: $color-6;
	}
}
