@require '../../stylus/_matrix.styl';

#products-list-header {
	font-weight: 700;

	.cell {
		&:first-child, &:nth-child(3) {
			text-transform: uppercase;
		}

		&:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6) {
			text-align: center;
		}
	}
}

#products-not-found {
	height: 100px;
	text-align: center;
}
