@require '../../stylus/_mixins.styl';
@require '../../stylus/_variables.styl';

$height = 46px;

#product-form {
	.placeholder-element {
		width: 100%;
	}

	.sticky-element {
		width: 100%;
		background-color: $color-6;

		&.sticky {
			position: fixed;
			z-index: 7;
			top: 0;
			box-shadow(0px 0px 14px 0px rgba(0,0,0,0.3));
		}
	}

	.cell {
		&.id {
			position: relative;
			width: calc(9% - 23px);
			margin-right: 23px;
			background-color: $color-7;
			text-transform: uppercase;
			color: $color-1;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				right: -23px;
				border-top: 23px solid transparent;
				border-bottom: 23px solid transparent;
				border-left: 23px solid $color-7;
			}
		}
	}

	.form-group {
		margin: 0;
		padding-top: 8px;
		position: relative;

		.error-msg {
			margin: 5px 0 10px;
			width: 100%;
			color: $color-1;
			background: $color-8;
			padding: 5px 15px;
			line-height: 16px;
			border-radius: 3px;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 10px;
				top: -6px;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-bottom: 8px solid $color-8;
				border-top: 0 solid transparent;
			}
		}
	}

	.form-control {
		width: 100%;
		height: 32px;
		padding-left: 10px;
		border: none;
		border-radius(5px);
	}

	button[type=submit] {
		border: 1px solid $color-1;
		background-color: $color-6;
		color: $color-1;
		width: 100%;
	}
}
