@require '../../../stylus/_variables.styl';

.pretty-form {
	.form-group {
		margin-bottom: 18px;
	}

	.error {
		border: 1px $color-8 solid;
		background-color: lightness($color-8, 95%);
	}

	.error-msg {
		position: absolute;
		font-size: 12px;
		color: $color-8;
	}
}
