@require '../../stylus/_variables.styl';
@require '../../stylus/_layer.styl';

#inventory-form {
	width: 420px;

	.form-header {
		padding: 10px 0;
		text-align: center;
		background-color: $color-10;

		h2 {
			color: $color-1;
			text-transform: uppercase;
		}
	}

	form {
		width: 100%;
		padding: 30px 50px;
	}

	.form-control {
		height: 40px;
	}

	button[type=submit] {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		border: 1px solid $color-1;
		background-color: $color-6;
		color: $color-1;
	}
}
