@require '_variables.styl';

.layer {
	position: fixed;
	overflow: hidden;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(28, 43, 57, 0.90);

	.layer-content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		margin: 0 auto;
		background-color: $color-1;
	}

	.layer-close {
		position: absolute;
		top: 50px;
		right: 50px;
		height: 50px;
		width: 50px;
		cursor: pointer;
		z-index: 101;
		font-size: 50px;
		color: $color-1;
	}
}
