@require './_variables.styl';

$size = 120px;

.loader {
	position: absolute;
	width: $size;
	height: $size;
	top: 50%;
	left: calc(50% - 60px);
	transform: translateY(-50%);
	border: 16px solid $color-3;
	border-radius: 50%;
	border-top: 16px solid $color-6;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
