@require './_variables.styl';

$row-height = 46px;

.matrix {
	clearfix();
	padding: 0 15px 15px;
	background-color: $color-1;

	.matrix-row {
		clearfix();
		height: height = $row-height;

		ul {
			clearfix();
		}

		.cell {
			float: left;
			line-height: height;
			padding: 0 8px;

			&:first-child { width: 9% }
			&:nth-child(2) { width: 32% }
			&:nth-child(3) { width: 10% }
			&:nth-child(4) { width: 10% }
			&:nth-child(5) { width: 14% }
			&:nth-child(6) { width: 14% }
			&:nth-child(7) { width: 10% }
		}
	}
}
