$max-medium-device-width ?= 1010px;
$max-small-device-width ?= 640px;

clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

vendor(prop, args) {
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args
}

box-sizing($param) {
	vendor(box-sizing, $param);
}

border-radius($param) {
	vendor(border-radius, $param);
}

border-radius-top($param) {
	vendor(border-radius, $param $param 0 0);
}

border-radius-diff($top, $right, $bottom, $left) {
	vendor(border-radius, $top $right $bottom $left);
}

border-radius-bottom($param) {
	vendor(border-radius, 0 0 $param $param);
}

box-shadow($param) {
	vendor(box-shadow, $param);
}

text-shadow($param) {
	vendor(text-shadow, $param);
}

user-select($arg = none) {
	vendor(user-select, $arg);
}

prefixed-transition($params) {
	vendor(transition, $params);
}

gradient($fromColor, $toColor, $startInterval = 0%, $endInterval = 100%, $direction = top) {
	background-color: $toColor;
	background-size: 100%;
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint {
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop($startInterval $fromColor), color-stop($endInterval, $toColor))
	}
	background-image: -webkit-linear-gradient($direction, $fromColor $startInterval, $toColor $endInterval);
	background-image: -moz-linear-gradient($direction, $fromColor $startInterval, $toColor $endInterval);
	background-image: -ms-linear-gradient($direction, $fromColor $startInterval, $toColor $endInterval);
	background-image: -o-linear-gradient($direction, $fromColor $startInterval, $toColor $endInterval);
	background-image: linear-gradient($direction, $fromColor $startInterval, $toColor $endInterval);

}

opacity($value) {
	$percent = $value * 100;

	opacity: $value;
	-ms-filter: unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + $percent + ')');
	filter: unquote('Alpha(Opacity=' + $percent + ')');
}


bg-color-alpha(color, alpha) {
	background-color: color;
	background-color: rgba(color, alpha);
}

// Media queries
// example use: +orientation() { /* code */ }
orientation($when = portrait) {
	if ($when == portrait) {
		@media screen and (orientation: portrait) {
			{block}
		}
	}
	else if (when == landscape) {
		@media screen and (orientation: landscape) {
			{block}
		}
	}
}

// example use: +deviceStep(small) { /* code */ }
deviceStep($when = medium) {
	if ($when == medium) {
		@media only screen and (max-width: $max-medium-device-width) {
			{block}
		}
	}
	else if ($when == small) {
		@media only screen and (max-width: $max-small-device-width) {
			{block}
		}
	}
}

