@require '../../stylus/_variables.styl';

#autocomplete-holder {
	position: absolute;
	min-width: 100%;
	z-index: 100;
	border-radius: 3px;
	margin-top: 3px;
	background-color: $color-1;

	ul {
		margin: 0;
	}

	li {
		padding: 4px 10px;
		cursor: pointer;

		&.highlight {
			background-color: $color-6;
			color: $color-1;
		}

		.price {
			font-size: 12px;
		}
	}
}
